*{
    font-family:Arial, Helvetica, sans-serif;
    border: solid 0px red;
}
.header-wrapper{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    margin: 0 15% 0;
}
.header-container{
    background-color: #1f2937;
}

.footer{
    color: white;
}

.section-one{
    background-color: #1f2937;
}

.hero{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 0 10% 0;
    padding: 4em 6em;
}

.hero-wrapper{
    margin: 8px;
    flex: 0.5 1;
}

h1{
    color: #f9FAf8;
    font-size: 48px;
    font-weight: bold;

}

.hero-secondary{
    font-size: 18px;
    color: #e5e7eb;

}

.hero-image{
    flex: 0.5 1 0;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: auto auto;
    color: #f9FAf8;
    height: 100%;
}


.navbar{
    display: flex;
    gap: 1em;
}
.header-logo{
    font-size: 24px;
    color: #f9FAf8;
    font-weight: bold;
}

.navbaritem{
    font-size: 18px;
    color: #e5e7eb;
}

.section-three{
    background-color: #e5e7eb;
    padding: 5em auto 5em;
}

#info-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.info-box{
    max-width: inherit;
    text-align: center;
}

.quote{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
}

.citation{
    font-weight: bold;
    font-style: normal;
    text-align: end;
}

.info-wrapper{
    display:flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 16px;
    margin-bottom: 16px;
    flex-wrap: 1;
}

.info-image{
    border: solid 2px #3888F6;
    height: 250px;
    width: 250px;
    flex-shrink: 0;
    border-radius: 15px;

}

.section-three{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 16px;
    padding-bottom: 16px;
}

.sign-up-button{
    background-color: #3888F6;
    color: #f9FAf8;
    border-radius: 4px;
    padding: 0.2em 1em 0.2em;
}
 body{
    margin: 0;
 }

.section-four{
    background-color: #3888F6;
    color: #f9FAf8;
    margin: 2em 10% 2em;
    padding: 1em 5% 1em;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
 }

h3{
    font-weight: bold;
}

.knopje{
    border: solid 1px #f9FAf8;
    border-radius: 5px;
    background-color: #3888F6;
    color: #f9FAf8;
    flex-grow: 0;
    flex-basis: 1;
    padding: 1rem 2rem 1rem;
}

